@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
* {
  box-sizing: border-box;
}
body {
    background-image: url("/pics/Icon\ Grid.svg");
    background-attachment: fixed;
    font-family: 'segoe ui';


    /* background-image: linear-gradient(to right, #034378, #2d4e68); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  margin: 0px;
}


  /* body {
    margin: 0px;
    font-family: 'segoe ui';
  } */
  
  .nav {
    height: 50px;
    width: 95vw;
    padding: 25px;
    /* background-color: #4d4d4d; */
    position: sticky;
    display: flex;
    justify-content: space-between;
    
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

  .crisis{
    font-size: 1.5em;
    letter-spacing: 5px;

  }



header h3{
    /* backdrop-filter: blur(3px); */
    text-align: center;
    padding: 4px;
    color: #ffffff;
    font-size: 4em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
    
}

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  background-color: #f2f2f2;
  text-align: center;
  background: rgba( 48, 188, 183, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

main h1{
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* main h1:hover{
  font-size: larger;
} */

main p{
  font-size: 1.3em;
}
main .flex{
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 38%;
}

main .flex .img{
  margin-right: 100px;
}






  @media (max-width:600px){
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
}