#question {
    background-image: url("pics/Simple\ Shiny.svg");
  
    /* background: #3ed1cc; */
    padding: 150px 0px;
    background-attachment: fixed;
  }
  #question .title {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    color: #999;
    margin-bottom: 20px;
    color: white;
  }
  #question .content {
    width: 640px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.2;
    font-size: 18px;
    margin-bottom: 80px;
    color: white;
  }
  #question .form {
    width: 640px;
    margin: 0 auto;
    position: relative;
  }
  #question .form input {
    width: 100%;
    padding: 20px 0px;
    outline: none;
    border: none;
    text-indent: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 5px rgba(0, 0, 0, 0.1);
  }
  #question .form i {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #3ed1cc;
    font-size: 18px;
  }


  @media (max-width: 750px) {
    .main-header .app-icons {
      display: none;
    }
    .main-header .nav {
      display: none;
    }
    .main-header .menu {
      display: block;
      font-size: 40px;
      color: white;
      cursor: pointer;
    }
    .main-header .container .logo img {
      /* width: 40px; */
    }
    .main-header .container .logo span {
      font-size: 30px;
      margin-left: 10px;
    }
    .main-header .content .content-wrapper .blob {
      font-size: 40px;
      text-align: center;
    }
    .main-header .content .content-wrapper .button-wrapper {
      justify-content: center;
    }
    .main-header .content .content-wrapper .button-wrapper .button {
      font-size: 10px;
      padding: 20px 10px;
    }
  
    .footer {
      padding: 10px 0px;
    }
    .footer .col-wrapper {
      display: block;
    }
    .footer .col-wrapper .col-1 {
      width: 90%;
      text-align: center;
      margin-bottom: 20px;
    }
    .footer .col-wrapper .col-1:last-child {
      margin-bottom: 0px;
    }
    .footer .col-wrapper .logo {
      display: block;
    }
    .footer .col-wrapper .logo img {
      width: 50px;
      display: block;
      margin: 0 auto;
    }
    .footer .col-wrapper .logo span {
      font-size: 40px;
    }
  
    #social-media {
      padding: 0px;
    }
    #social-media .social-wrapper {
      display: block;
      text-align: center;
    }
    #social-media .social-wrapper .slug {
      display: block;
    }
    #social-media .social-wrapper .icons {
      margin: 20px 0px;
    }
  
    #how-it-works {
      padding: 40px 20px;
    }
    #how-it-works .intro {
      font-size: 20px;
      margin-bottom: 30px;
    }
    #how-it-works .intro span {
      margin-left: 5px;
      font-size: 12px;
    }
    #how-it-works .slug {
      color: black;
      font-size: 14px;
    }
    #how-it-works .title {
      font-size: 30px;
    }
    #how-it-works .content {
      max-width: 360px;
      margin-bottom: 20px;
      font-size: 18px;
    }
    #how-it-works .icon-wrapper {
      display: block;
      width: 100%;
    }
    #how-it-works .icon-wrapper .icon {
      width: 100%;
    }
    #how-it-works .icon-wrapper .icon i {
      font-size: 20px;
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
    #how-it-works .icon-wrapper .icon p {
      font-weight: 300;
    }
  
    #question {
      padding: 20px 0px 80px;
    }
    #question .title {
      font-size: 30px;
    }
    #question .content {
      max-width: 450px;
      font-size: 16px;
      margin-bottom: 30px;
    }
    #question .form {
      max-width: 360px;
    }
    #question .form input {
      padding: 10px;
    }
  
    #talk {
      padding: 20px 30px;
    }
    #talk .title {
      margin-top: 20px;
      text-align: center;
      margin-bottom: 10px;
      font-size: 30px;
    }
    #talk .content {
      text-align: center;
      font-weight: 300;
      font-size: 16px;
      font-line-height: 1.5;
    }
    #talk .col-wrapper {
      display: block;
    }
    #talk .col-wrapper .col-50 {
      width: 100%;
      padding: 20px 0px;
    }
    #talk .col-wrapper .col-50:last-child {
      min-height: 400px;
      padding: 0px 30px;
      background-position: top left;
    }
  
    #signup {
      padding: 20px;
    }
    #signup .slug {
      font-size: 14px;
      margin-bottom: 10px;
    }
    #signup .title {
      font-size: 30px;
    }
    #signup .content {
      font-size: 14px;
    }
    #signup .button-wrapper button {
      font-size: 12px;
      padding: 20px 20px;
      margin: 0px 5px;
    }
  }